body {
    background-color: rgb(64, 34, 145);
}

.example-section-container {
    width: 90%;
    height: auto;
    max-width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans';
    color: white;
}